header {
	background: rgba(116, 39, 4, 0.521);
	padding: 20px;
	font-size: 20px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
  }

.header-container {
	margin: 0 auto;
	display: flex;
	text-align: right;
	justify-content: space-between;
	z-index: 999;
  }
  
  .nav-logo {
	display: block;
	font-weight: bold;
	color: rgb(255, 255, 255);
	max-height: 20px;
  }
  
  .header-container a {
	color: #fff;
	font-size: 18px;
	padding: 20px 10px;
  
	&:hover {
	  background: #ccc;
	  color: #000;
	}
  
	&:active {
	  background: rgb(151, 114, 114);
	  color: #fff;
	}
  }
  
  .toggle_button {
	text-align: right;
  
	&:hover {
	  background: #ccc;
	  color: #000;
	}
  
	&:active {
	  background: rgb(63, 48, 48);
	  color: #fff;
	}
  }
  
  #menu-checkbox {
	display: none;
  }
  
  ul {
	display: flex;
  }
  
.container {
	width: 100%;
	display: block;
	padding-top: 200px;
	height: 1150px;
	background: url(../img/fon.jpg) no-repeat, url(../img/mobile_bg.png) repeat;
	text-align: center;
  }

  .main_title {
	> span {
     display: block;
	  font-size: 40px;
	  font-weight: bold;
     max-width: 555px;
	  position: relative;
	  color: #fff;
 
		 &:after {
			content: '';
			position: absolute;
         color: #fff;
			box-shadow: 0px 0px 5px #D8CB56;
			width: 66%;
			height: 2px;
			left: 0;
			background-color: #FAFF00;
			-webkit-transition: all .3s linear;
			transition: all .3s linear;
		 }
	  }
	}
 
	&:hover > span > span:after {
	  width: 99%;
	}

  .container h2 {
     padding: 10px 0px 0px 0px;
	  font-size: 20px;
	  font-weight: 500;
	  color: rgb(193, 253, 255);
  }

.container_info {
	width: 100%;
	height: 500px;
	background: url(../img/mobile_bg.png) repeat;
	}

footer {
	background-color: rgba(90, 32, 32, 0.808);
   }
	
	.icon-instagram {
		color: #fff;
		&:hover {
			color: rgb(211, 195, 54);
		}
		&:active {
			color: rgb(212, 67, 31);
		}
	}